# See CODEOWNERS syntax documentation at:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

* @owners-docs
/src/ @memfault/owners-typescript

/docs/embedded/ @memfault/owners-mcu
/docs/mcu/ @memfault/owners-mcu
/docs/android/ @memfault/owners-kotlin
