
.figure {
    margin: 2em 1em 3em;
}

.link {
    display: flex;
    width: 100%;
    justify-content: center;
}

.image {
    display: block;
    max-width: 100%;
    margin: 0;
    outline: 2px solid #eee;
    outline-offset: 2px;
    background-color: var(--figure-bg-color);
    /* NOTE: same transition duration as `fadeInDuration in component ! */
    transition: background-color 200ms linear;
}

.caption {
    color: var(--ifm-color-content-secondary);
    font-size: 0.9em;
    margin-top: 12px;
}
