.content {
    width: 100%;
    max-width: 980px;
    margin: 3em auto;
    font-size: 16px;
}

.hero-content {
    width: 550px;
    max-width: 90vw;
    text-align: center;
    margin: 0 auto;
}

.hero-logo {
    width: 400px;
    max-width: 60vw;
}

.hero-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hero-text {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 500;
}

.divider {
    margin-top: 3em;
}

.resources {
    display: flex;
    gap: 2em;
    padding: 1em;
    font-size: 1em;
    line-height: 1.5;
}

.resources h2 {
    font-size: 1.9em;
}

.resources h3 {
    font-size: 1.4em;
}

.resources p, .resources a {
    font-size: 1em;
}

.resources a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.resources p {
    margin: 0 0 14px;
}

.resources-column {
    flex: 50% 1 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .resources {
        flex-direction: column;
        gap: 1em;
    }

    .resources-column {
        flex: 100% 0 0;
    }
}

.links {
    padding-left: 0;
    list-style: none;
}

.links li {
    margin-bottom: 0.3em;
}
